@model IEnumerable<FilmCatalogue.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Категорії</h2>
<hr />

@using (Html.BeginForm("Create", "Category", FormMethod.Get))
{
    <input type="submit" value="Додати" class="btn btn-primary" />
}

<table class="table">
    <tr>
        <th class="col-5">
            Категорія
        </th>
        <th>
            Кількість фільмів у категорії
        </th>
        <th>
            Рівень вкладеності категорії
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmCategories.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.ActionLink("Інформація", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
