@model IEnumerable<FilmCatalogue.Models.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Film", FormMethod.Get))
{
    <p>
        @Html.Label("Category Filter: ")
        @Html.DropDownList("CategoryFilter", ViewBag.CategoryFilter as SelectList, "All", new { onchange = "this.form.submit();" })
    </p>

    <table class="table" id="filmsTable">
        <thead>
            <tr>
                <th class="no-sort">
                    Назва
                </th>
                <th class="no-sort">
                    Режисер
                </th>
                <th>
                    Дата виходу
                </th>
                <th class="no-sort">
                    Категорії
                </th>
                <th class="no-sort"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Director)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Release)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categories)
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#filmsTable').DataTable({
            searching: false,
            paging: false,
            info: false,
            columnDefs: [{
                orderable: false,
                targets: "no-sort"
            }],
        });
    });
</script>
