@model IEnumerable<FilmCatalogue.Models.Film>

@{
    ViewBag.Title = "Films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Фільми</h2>
<hr />

@using (Html.BeginForm("Create", "Film", FormMethod.Get))
{
    <input type="submit" value="Додати" class="btn btn-primary mb-3" />
}

@using (Html.BeginForm())
{
    <p>
        <label class="control-label">Фільтр за категорією: </label>
        @Html.DropDownList("CategoryFilter", ViewBag.CategoryFilter as SelectList, "All", new { onchange = "this.form.submit();", htmlAttributes = new { @class = "form-control" } })
    </p>

    <table class="table" id="filmsTable">
        <thead>
            <tr>
                <th class="no-sort col-3">
                    Назва
                </th>
                <th class="no-sort col-2">
                    Режисер
                </th>
                <th class="text-start col-2">
                    Дата виходу
                </th>
                <th class="no-sort col-3">
                    Категорії
                </th>
                <th class="no-sort"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Director)
                    </td>
                    <td class="text-start">
                        @Html.DisplayFor(modelItem => item.Release)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categories)
                    <td>
                        @Html.ActionLink("Інформація", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#filmsTable').DataTable({
            searching: false,
            paging: false,
            info: false,
            columnDefs: [{
                orderable: false,
                targets: "no-sort"
            }],
        });
    });
</script>
